<div class="loading cbox">Bearbeitung...</div>
<div class="ajax-error-cbox cbox">
  <div class="modal-inner">
    <div class="ajax-error-title">Fehler</div>
    <div class="ajax-error-message"></div>
  </div>
</div>
<div class="ajax-success-cbox cbox">
	<div class="content">
		<p class="ajax-product-title"></p>
        <p class="success-message show-cart">wurde dem Warenkorb hinzugefügt.<br><a href="/cart">Zum Warenkorb gehen</a></p>
        <p class="success-message show-wishlist">wurde der Wunschliste hinzugefügt.<br><a href="/pages/wunschliste">Zur Wunschliste gehen</a></p>        


    <a href="javascript:void(0)" class="close-cbox"><span class="lnr lnr-cross"></span></a>
 	</div>    
</div>
